USE [master]
GO
/****** Object:  Database [udeodb]    Script Date: 08-Mar-19 12:23:02 PM ******/
CREATE DATABASE [udeodb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'udeodb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\udeodb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'udeodb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\udeodb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [udeodb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [udeodb]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 08-Mar-19 12:23:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumno](
	[id] [int] NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[test1]    Script Date: 08-Mar-19 12:23:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test1](
	[id] [int] NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
